@font-face {
  font-family: linebeam;
  src: url("../fonts/Linebeam.ttf");
}

.atm {
  position: absolute;
  background-color: #53667c;
  border-radius: 1.0vh;

  width: 110vh;
  height: 95vh;

  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: none;
}
.atm-container-up {
  position: relative;
  background-color: rgb(228, 228, 228);
  box-shadow: 0px 0px 14px white;
  border-radius: 1.0vh;

  left: 50%;
  top: 2vh;
  transform: translate(-50%);

  width: 90%;
  height: 20vh;
}




.atm-notify {
  position: absolute;

  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  width: 28vh;
  height: 17vh;

  backdrop-filter: blur(2px);
  border-radius: 1.5vh;
  background-color: rgba(39, 41, 61, 0.95);
  
  animation: outlinebox 1s infinite alternate;
  display: none;
  z-index: 950;
}


.atm-notify-box {
  position: absolute;
  width: 94%;
  height: 94%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 256;
  color: white;
  text-shadow: 3px 3px 2px black;
  background-color: transparent;
  padding: 1.0vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.atm-notify-box-icon-success {
  height: 6vh;
  width: 6vh;
  color: green;
  border: 2px solid green;
  border-radius: 50%;
  line-height: 6.4vh;
  font-size: 3.8vh;
}

.atm-notify-box-icon-error {
  height: 6vh;
  width: 6vh;
  color: red;
  border: 2px solid red;
  border-radius: 50%;
  line-height: 6.2vh;
  font-size: 3.8vh;
}

.atm-notify-box p {
  font-size: 1.5vh;
  font-weight: 600;
  margin: 0.4vh 0vh;
  width: 80%;
}

.bank-confirm-box-btns {
  margin-top: 0.4vh;
}

.atm-notify-box-btns button {
  position: relative;
  display: inline-block;
  width: 7vh;
  height: 3vh;
  top: 2%;
  margin: 0.5vh;

  outline: none;
  border: none;
  border-radius: 1.0vh;
  cursor: pointer;

  font-size: 1.2vh;
  text-align: center;
  color: white;
}


#atm-notify-box-close {
  background-color: rgb(40, 90, 200);
}

#atm-notify-box-close:hover {
  box-shadow: 2px 2px 8px white;
  font-size: 1.4vh;
}





:root {
  --angle: 45deg;
}

.atm-container-up header {
  position: absolute;
  text-align: right;
  font-size: 18.0vh;
  font-weight: 500;
  font-style: italic;
  font-family: linebeam;
  padding-top: 2.5vh;
  padding-right: 5vh;
  text-shadow: 0px 0px 14px rgb(0, 89, 255);
  right: 0;


  background: linear-gradient(
    var(--angle),
    rgb(0, 89, 255) 19%,
    transparent 19%,
    transparent 20%,
    rgb(43,44,57) 20%,
    rgb(43,44,57) 39%,
    transparent 39%,
    transparent 40%,
    rgb(0, 89, 255) 40%,
    rgb(0, 89, 255) 59%,
    transparent 59%,
    transparent 60%,
    #53667c 60%,
    #53667c 79%,
    transparent 79%,
    transparent 80%,
    rgb(0, 89, 255) 80%
  );
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent; 
  animation: 10s rotate linear infinite;
}

.atm-container-up text {
  position: absolute;
  text-align: left;
  font-size: 4.0vh;
  font-weight: 500;
  font-style: italic;
  font-family: linebeam;
  padding-top: 2.5vh;
  padding-right: 5vh;
  text-shadow: 0px 0px 14px rgb(0, 89, 255);
  left: 2vh;
  top: 2vh;

  z-index: 100;
  background: linear-gradient(
    var(--angle),
    rgb(0, 89, 255) 19%,
    transparent 19%,
    transparent 20%,
    rgb(43,44,57) 20%,
    rgb(43,44,57) 39%,
    transparent 39%,
    transparent 40%,
    rgb(0, 89, 255) 40%,
    rgb(0, 89, 255) 59%,
    transparent 59%,
    transparent 60%,
    #53667c 60%,
    #53667c 79%,
    transparent 79%,
    transparent 80%,
    rgb(0, 89, 255) 80%
  );
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent; 
  animation: 10s rotate linear infinite;
}

@keyframes rotate {
  to {
    --angle: 360deg;
  }
}
@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}




.atm-container {
  position: relative;
  background-color: #3b4755;
  border-radius: 1.0vh;

  left: 50%;
  top: 40%;
  transform: translate(-50%, -50%);
  width: 90%;
  height: 65vh;

  box-shadow: 0px 0px 14px #222830;
}


.atm-container-screen {
  position: absolute;


  background-image: url("../img/bg-screen.png");
  background-repeat: no-repeat;
  background-size: cover;

  /* background-color: rgb(10, 12, 20); */
  border-radius: 3.0vh;
  box-shadow: 0 0 4px black;

  width: 50%;
  height: 70%;

  left: 34%;
  top: 42%;
  transform: translate(-50%, -50%);
}

.atm-container-screen-history {
  position: absolute;
  width: 96%;
  height: 78%;
  left: 50%;
  top: 0.5vh;
  transform: translateX(-50%);
  border-radius: 2.0vh;
  background: transparent;
  overflow-y: scroll;
  overflow-x: hidden;
  display: none;
}

.atm-container-screen-history-box {
  position:relative;
  width: 96%;
  height: 6vh;
  margin-top: 0.8vh;
  margin-bottom: 0.8vh;
  border-radius: 1vh;
  left: 50%;
  top: 0.5vh;
  transform: translateX(-50%);
  background: linear-gradient(115deg, #121314cb, #404d5cc9);
  box-shadow: 4px 4px 4px #007deb77;
  pointer-events: none;
}

.atm-container-screen-history-box-label {
  position: absolute;
  font-weight: 500;
  font-family: Gilroy;
  font-size: 1.4vh;
  color: white;
  top: 0.2vh;
  left: 0.8vh;
  text-shadow: 3px 3px 2px black;
}

.atm-container-screen-history-box-desc {
  position: absolute;
  font-weight: 500;
  font-family: Gilroy;
  font-size: 1.2vh;
  color: white;
  bottom: 1.4vh;
  left: 0.8vh;
  text-shadow: 3px 3px 2px black;

  width: 14vh;
  height: 2vh;
}

.atm-container-screen-history-box-amount {
  position: absolute;
  font-weight: 500;
  font-family: Gilroy;
  font-size: 1.4vh;
  color: white;
  top: 0.2vh;
  right: 0.5vh;
  text-shadow: 3px 3px 2px black;
}

.atm-container-screen-history-box-img {
  position: absolute;
  right: 0.5vh;
  bottom: 0.5vh;
  border-radius: 0.5vh;

  width: 3vh;
  height: 3vh;

  background-color: rgb(43,44,57);
}








.atm-container-screen-box-left,
.atm-container-screen-box-right {
  position: absolute;

  width: 50%;
  height: 100%;
}
.atm-container-screen-box-left {
  left: 0;
}
.atm-container-screen-box-right {
  right: 0;
}

.atm-screen-box-left,
.atm-screen-box-right {
  position: relative;
  display: inline-block;
  width: 80%;
  height: 6vh;
  text-align: center;
  margin-top: 2.72vh;
  margin-bottom: 2.72vh;
  border-radius: 0.5vh;
  pointer-events: none;
  opacity: 0%;
}

.atm-screen-box-left {
  float: left;
  left: 1vh;
  background: linear-gradient(115deg, #121314cb, #404d5cc9);
  box-shadow: 4px 4px 4px #007deb77;
}

.atm-screen-box-right {
  float: right;
  right: 1vh;
  background: linear-gradient(65deg, #404d5cc9, #121314cb);
  box-shadow: -4px 4px 4px #007deb77;
}

.atm-screen-box-left header,
.atm-screen-box-right header {
  text-shadow: 3px 3px 2px black;
  position: absolute;
  color: white;
  font-size: 1.8vh;
  text-align: center;
  width: 100%;
  top: 0.8vh;
}
.atm-screen-box-left p,
.atm-screen-box-right p {
  text-shadow: 3px 3px 2px black;
  position: absolute;
  color: white;
  font-size: 1.6vh;
  text-align: center;
  width: 100%;
  bottom: 1vh;
}

#atm-screen-btn-1 a,
#atm-screen-btn-2 a,
#atm-screen-btn-3 a,
#atm-screen-btn-4 a,
#atm-screen-btn-5 a,
#atm-screen-btn-6 a,
#atm-screen-btn-8 a {
  position: absolute;
  color: white;
  font-size: 2.0vh;
  font-size: 2.0vh;
  font-weight: 800;
  text-align: center;
  left: 50%;
  top: 48%;
  transform: translate(-50%, -50%);
}
#atm-screen-btn-2 input,
#atm-screen-btn-6 input {
  position: absolute;
  color: white;
  width: 100%;
  height: 100%;
  font-size: 2.0vh;
  font-weight: 800;
  border-radius: 0.8vh;

  left: 50%;
  top: 48%;
  transform: translate(-50%, -50%);

  color: white;
  background-color: transparent;
  text-align: center;
  outline: none;
  outline-offset: 0px;

  pointer-events: initial;

  float: right;
  right: 1vh;
}

#atm-screen-btn-1 header {
  position: absolute;
  color: white;
  font-size: 1.6vh;
  text-align: center;
  top: 0.5vh;
  left: 0;
  width: 100%;
  text-shadow: 3px 3px 2px black;
}

#atm-screen-btn-1 input {
  position: relative;
  width: 5vh;
  height: 3vh;
  font-size: 1.4vh;
  font-weight: 800;
  border-radius: 1.0vh;
  top: 2.5vh;
  pointer-events: initial;
  background-color: transparent;
}




#atm-screen-btn-7 header {
  position: absolute;
  color: white;
  font-size: 1.8vh;
  text-align: center;
  top: 0.5vh;
  left: 0;
  width: 100%;
  text-shadow: 3px 3px 2px black;
}
#atm-screen-btn-7 a {
  position: absolute;
  color: green;
  font-size: 1.8vh;
  font-weight: 800;
  text-align: center;
  bottom: 0.8vh;
  left: 0;
  width: 100%;
  text-shadow: 3px 3px 2px black;
}



.atm-container-button-left,
.atm-container-button-right {
  position: absolute;
  width: 8%;
  height: 70%;

  top: 42%;
  transform: translateY(-50%);
  z-index: 100;
  cursor: pointer;
}

.atm-container-button-left {
  /* background-color: rgba(255, 0, 0, 0.5); */
  left: 0.5%;
}

.atm-container-button-right {
  position: absolute;
  /* background-color: rgba(0, 255, 0, 0.5); */
  right: 32.5%;
  transform: translateX(-50%, -50%);
}

.atm-buttons {
  position: relative;
  background-color: white;
  color: green;
  font-size: 4vh;
  text-align: center;
  margin-top: 2.72vh;
  margin-bottom: 2.72vh;

  display: inline-block;
  outline: none;
  border: none;
  border-radius: 0.5vh;

  width: 6vh;
  height: 6vh;

  left: 50%;
  transform: translate(-50%);
}

.atm-buttons i {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.atm-buttons:hover {
  font-size: 5vh;
  background-color: #53667c;
  box-shadow: 0px 0px 8px black;
}


.atm-container-boxcard {
  position: absolute;
  background-color: rgb(54, 55, 65);
  border-radius: 0.5vh;

  width: 26%;
  height: 90%;

  right: 16%;
  top: 50%;
  transform: translate(50%, -50%);
}

.atm-container-boxcard-insert {
  position: absolute;
  background-color: #53667c;
  border-radius: 0.5vh;

  width: 60%;
  height: 38%;

  right: 50%;
  top: 40%;
  transform: translate(50%, -50%);

  background-image: url("../img/insertCard.png");
  background-repeat: no-repeat;
  background-size: 120%;
  background-position: center;
  background-position-y: -3vh;
  box-shadow: 0 0 4px white;
}

.atm-container-card {
  position: relative;
  width: 25vh;
  height: 16vh;

  right: 32%;
  top: -52%;
  transform: translate(50%, -50%);

  background-image: url("../img/cardBank.png");
  background-repeat: no-repeat;
  background-size: contain;

  transform: rotateZ(90deg) rotateY(90deg) scale(0.8);
}

#openAtm {
  animation: useCard 2200ms;
}

#closeAtm {
  animation: useCard 2200ms reverse;
}

@keyframes useCard {
  0% {
    transform: rotateZ(90deg) scale(1);
    top: 50%;
  }
  80% {
    transform: rotateZ(90deg) rotateY(86deg) scale(1);
  }
  100% {
    transform: rotateZ(90deg) rotateY(90deg) scale(0.8);
    top: -52%;
  }
}




.atm-container-boxcard-box {
  position: absolute;
  background-color: #53667c;
  border-radius: 0.5vh;

  width: 120%;
  height: 20%;

  right: 50%;
  top: -18%;
  transform: translate(50%, -50%);
}


.atm-container-boxcard-box p {
  position: absolute;
  color: green;
  font-size: 1.6vh;
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  width: 80%;
  background-color: #31353a;
  border-radius: 0.2vh;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}


.atm-container-boxcard-give {
  position: absolute;
  background-color: rgb(43,44,57);
  border-radius: 0.5vh;

  width: 80%;
  height: 12%;

  right: 50%;
  bottom: 18%;
  transform: translate(50%, 50%);
}

.atm-container-boxcard-give p {
  position: absolute;
  color: green;
  font-size: 1.6vh;
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;

  left: 50%;
  bottom: 18%;
  transform: translate(-50%, 50%);
}

.atm-container-boxcard-drop {
  position: absolute;
  background-color: rgb(28, 28, 28);
  border-radius: 0.2vh;

  width: 90%;
  height: 50%;

  left: 50%;
  top: 42%;
  transform: translate(-50%, -50%);
}

.atm-container-cash-withdraw {
  position: relative;
  width: 30vh;
  height: 18vh;

  right: -8%;
  top: -80%;
  transform: translate(50%, -50%);

  background-image: url("../img/money_withdraw.png");
  background-repeat: no-repeat;
  background-size: contain;

  transform: rotateX(86deg) scale(0.6);
  animation: withdrawCash 2200ms reverse;
  display: none;
}

@keyframes withdrawCash {
  0% {
    transform: rotateX(50deg) scale(1.2);
    right: -35%;
    top: 0%;
  }
  100% {
    transform: rotateX(86deg) scale(0.6);
    right: -8%;
    top: -80%;
  }
}




.atm-container-boxcash {
  position: absolute;
  background-color: rgb(43,44,57);
  border-radius: 0.5vh;

  width: 50%;
  height: 16%;

  left: 34%;
  bottom: 12%;
  transform: translate(-50%, 50%);
}

.atm-container-boxcash p {
  position: absolute;
  color: green;
  font-size: 2vh;
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;

  left: 50%;
  bottom: 18%;
  transform: translate(-50%, 50%);
}

.atm-container-boxcash-drop {
  position: absolute;
  background-color: rgb(28, 28, 28);
  border-radius: 0.2vh;

  width: 90%;
  height: 50%;

  left: 50%;
  top: 42%;
  transform: translate(-50%, -50%);
}

.atm-container-cash-deposit {
  position: absolute;
  width: 30vh;
  height: 18vh;

  left: 20%;
  bottom: -35%;
  transform: translate(-50%, 50%);

  background-image: url("../img/money_deposit.png");
  background-repeat: no-repeat;
  background-size: contain;

  transform: rotateX(70deg) scale(0.2);
  animation: depositCash 2200ms;
  display: none;
}

@keyframes depositCash {
  0% {
    transform: rotateX(0deg) scale(1);
    bottom: -100%;
  }
  80% {
    transform: rotateX(70deg) scale(0.8);
    bottom: -45%;
  }
  100% {
    transform: rotateX(70deg) scale(0.2);
    bottom: -35%;
  }
}