@font-face {
  font-family: Gilroy;
  src: url("../fonts/Gilroy-Light.otf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Gilroy
}

body, html {
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
  overflow-y: hidden;
  overflow-x: hidden;
}

body {
  display: none;
}



#isBlur {
  filter: blur(2px);
  pointer-events: none;
}



.bank-verticalBar-buttons-accountsList::-webkit-scrollbar,
.bank-home-container::-webkit-scrollbar,
.bank-account-container::-webkit-scrollbar,
.bank-account-info-rigthbar-history::-webkit-scrollbar,
.atm-container-screen-history::-webkit-scrollbar {
  width: 0.3vw;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 8px;
}
.bank-verticalBar-buttons-accountsList::-webkit-scrollbar-thumb,
.bank-home-container::-webkit-scrollbar-thumb,
.bank-account-container::-webkit-scrollbar-thumb,
.bank-account-info-rigthbar-history::-webkit-scrollbar-thumb,
.atm-container-screen-history::-webkit-scrollbar-thumb {
  background-color: rgba(140, 140, 140, 0.2);
  border-radius: 8px;
}
.bank-verticalBar-buttons-accountsList::-webkit-scrollbar-thumb:hover,
.bank-home-container::-webkit-scrollbar-thumb:hover,
.bank-account-container::-webkit-scrollbar-thumb:hover,
.bank-account-info-rigthbar-history::-webkit-scrollbar-thumb:hover,
.atm-container-screen-history::-webkit-scrollbar-thumb:hover {
  background-color: rgb(40, 90, 200);
}


.bank {
  position: absolute;
  background-color: rgb(10, 12, 20);
  border-radius: 3.5vh;

  width: 87vh;
  height: 56vh;

  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: none;
}


.bank-notify,
.bank-confirm,
.bank-transfer,
.bank-deposit-withdraw,
.bank-newAccount {
  position: absolute;

  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  backdrop-filter: blur(2px);
  border-radius: 1.5vh;
  background-color: rgba(39, 41, 61, 0.95);
  
  animation: outlinebox 1s infinite alternate;
  display: none;
}

@keyframes outlinebox {
  0%{
    box-shadow: rgb(128, 128, 128) 0px 8px 20px -10px;
  }
}

.bank-notify {
  width: 28vh;
  height: 17vh;
  z-index: 260;
}
#error {
  width: 28vh;
  height: 17vh;
  z-index: 260;

  animation-name: errorNotif;
  animation-duration: 100ms;
  animation-delay: 250ms;
}

@keyframes errorNotif {
  0% {
    left: 50%;
    timing-function: ease-in;
  }
  25% {
    right: 49%;
    timing-function: ease-out;
  }
  50% {
    left: 49%;
    timing-function: ease-in;
  }
  75% {
    right: 49%;
    timing-function: ease-out;
  }
  100% {
    left: 50%;
    timing-function: ease-in;
  }
}

.bank-confirm {
  width: 38vh;
  height: 22vh;
  box-shadow: rgb(255, 145, 0) 0px 8px 20px -10px;
  z-index: 259;
}
.bank-transfer{
  width: 26vh;
  height: 34vh;
  box-shadow: rgb(0, 0, 255) 0px 8px 20px -10px;
  z-index: 258;
}

.bank-deposit-withdraw {
  width: 26vh;
  height: 18vh;
  box-shadow: rgb(0, 0, 255) 0px 8px 20px -10px;
  z-index: 258;
}

.bank-newAccount {
  width: 26vh;
  height: 16vh;
  box-shadow: rgb(195, 0, 255) 0px 8px 20px -10px;
  z-index: 258;
}


input {
  color: white;
  background-color: rgb(43,44,57);
  text-align: center;
  outline: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance: textfield;
}


.bank-notify-box,
.bank-confirm-box,
.bank-transfer-box,
.bank-deposit-withdraw-box,
.bank-newAccount-box {
  position: absolute;
  width: 94%;
  height: 94%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 256;
  color: white;
  text-shadow: 3px 3px 2px black;
  background-color: transparent;
  padding: 1.0vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}


.bank-notify-box-icon-success {
  height: 6vh;
  width: 6vh;
  color: green;
  border: 2px solid green;
  border-radius: 50%;
  line-height: 6.4vh;
  font-size: 3.8vh;
}

.bank-notify-box-icon-error {
  height: 6vh;
  width: 6vh;
  color: red;
  border: 2px solid red;
  border-radius: 50%;
  line-height: 6.2vh;
  font-size: 3.8vh;
}

.bank-confirm-box-icon {
  height: 6vh;
  width: 6vh;
  color: orange;
  border: 2px solid orange;
  border-radius: 50%;
  line-height: 6.0vh;
  font-size: 3.8vh;
}

.bank-confirm-box header {
  font-size: 2.5vh;
  font-weight: 800;
  margin: 1.0vh 0vh;
}

.bank-notify-box p,
.bank-confirm-box p {
  font-size: 1.5vh;
  font-weight: 600;
  margin: 0.4vh 0vh;
  width: 80%;
}

.bank-confirm-box-btns {
  margin-top: 0.4vh;
}

.bank-notify-box-btns button,
.bank-confirm-box-btns button {
  position: relative;
  display: inline-block;
  width: 7vh;
  height: 3vh;
  top: 2%;
  margin: 0.5vh;

  outline: none;
  border: none;
  border-radius: 1.0vh;
  cursor: pointer;

  font-size: 1.2vh;
  text-align: center;
  color: white;
}

#bank-confirm-box-yes {
  background-color: green;
}
#bank-confirm-box-no {
  background-color: red;
}
#bank-notify-box-close {
  background-color: rgb(40, 90, 200);
}

#bank-confirm-box-yes:hover,
#bank-confirm-box-no:hover,
#bank-notify-box-close:hover {
  box-shadow: 2px 2px 8px white;
  font-size: 1.4vh;
}


.bank-transfer-box-accountList {
  position: relative;
  width: 100%;
  height: 6.4vh;
  margin-top: 0vh;
}
.bank-transfer-box-accountList header {
  font-size: 1.7vh;
  font-weight: 800;
  margin-bottom: 1vh;
}
.bank-transfer-box-accountList select {
  color: white;
  background-color: rgb(43,44,57);
  text-align: center;
  outline: none;
  width: 14vh;
  height: 3vh;
  font-size: 1.4vh;
  font-weight: 500;
  border-radius: 1.0vh;
}


.bank-transfer-box-iban {
  position: relative;
  width: 100%;
  height: 6.4vh;
  margin-top: 2vh;
}
.bank-transfer-box-iban header {
  font-size: 1.7vh;
  font-weight: 800;
  margin-bottom: 1vh;
}
.input-transfer-iban {
  width: 5vh;
  height: 3vh;
  font-size: 1.4vh;
  font-weight: 800;
  border-radius: 1.0vh;
}


.bank-transfer-box-amount {
  position: relative;
  width: 100%;
  height: 6.4vh;
  margin-top: 2vh;
}
.bank-transfer-box-amount header {
  font-size: 1.7vh;
  font-weight: 800;
  margin-bottom: 1vh;
}
#input-transfer-amount {
  width: 12vh;
  height: 3vh;
  font-size: 1.4vh;
  font-weight: 800;
  border-radius: 1.0vh;
}


.bank-transfer-box-btns {
  position: relative;
  width: 100%;
  height: 6.4vh;
  margin-top: 2vh;
}

.bank-transfer-box-btns input {
  width: 8vh;
  height: 3vh;
  font-size: 1.2vh;
  font-weight: 800;
  border-radius: 1.0vh;
  outline: none;
  border: none;
  cursor: pointer;

  margin: 1vh; 
}
.bank-transfer-box-btns #bank-transfer-box-yes {
  background-color: green;
}
.bank-transfer-box-btns #bank-transfer-box-no {
  background-color: red;
}

.bank-transfer-box-btns #bank-transfer-box-yes:hover,
.bank-transfer-box-btns #bank-transfer-box-no:hover {
  box-shadow: 2px 2px 8px white;
  font-size: 1.4vh;
}



.bank-deposit-withdraw-box-amount {
  position: relative;
  width: 100%;
  height: 6.4vh;
  margin-top: 2vh;
}
.bank-deposit-withdraw-box-amount header {
  font-size: 1.7vh;
  font-weight: 800;
  margin-bottom: 1vh;
}
#input-deposit-withdraw-amount {
  width: 12vh;
  height: 3vh;
  font-size: 1.4vh;
  font-weight: 800;
  border-radius: 1.0vh;
}

.bank-deposit-withdraw-box-btns {
  position: relative;
  width: 100%;
  height: 6.4vh;
  margin-top: 2vh;
}

.bank-deposit-withdraw-box-btns input {
  width: 8vh;
  height: 3vh;
  font-size: 1.2vh;
  font-weight: 800;
  border-radius: 1.0vh;
  outline: none;
  border: none;
  cursor: pointer;

  margin: 1vh; 
}
.bank-deposit-withdraw-box-btns #bank-deposit-withdraw-box-confirm {
  background-color: green;
}
.bank-deposit-withdraw-box-btns #bank-deposit-withdraw-box-cancel {
  background-color: red;
}

.bank-deposit-withdraw-box-btns #bank-deposit-withdraw-box-confirm:hover,
.bank-deposit-withdraw-box-btns #bank-deposit-withdraw-box-cancel:hover{
  box-shadow: 2px 2px 8px white;
  font-size: 1.4vh;
}




.bank-newAccount-box-accountTypetList {
  position: relative;
  width: 100%;
  height: 6.4vh;
  margin-top: 0vh;
}
.bank-newAccount-box-accountTypetList header {
  position: relative;
  font-size: 1.7vh;
  font-weight: 800;
  width: 80%;
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: 1vh;
}
.bank-newAccount-box-accountTypetList select {
  color: white;
  background-color: rgb(43,44,57);
  text-align: center;
  outline: none;
  width: 14vh;
  height: 3vh;
  font-size: 1.4vh;
  font-weight: 500;
  border-radius: 1.0vh;
}

.bank-newAccount-box-btns {
  position: relative;
  width: 100%;
  height: 6.4vh;
  margin-top: 2vh;
}

.bank-newAccount-box-btns input {
  width: 8vh;
  height: 3vh;
  font-size: 1.2vh;
  font-weight: 800;
  border-radius: 1.0vh;
  outline: none;
  border: none;
  cursor: pointer;

  margin: 1vh;
}
.bank-newAccount-box-btns #bank-newAccount-box-create {
  background-color: green;
}
.bank-newAccount-box-btns #bank-newAccount-box-cancel {
  background-color: red;
}

.bank-newAccount-box-btns #bank-newAccount-box-create:hover,
.bank-newAccount-box-btns #bank-newAccount-box-cancel:hover {
  box-shadow: 2px 2px 8px white;
  font-size: 1.4vh;
}















.bank-verticalBar {
  position: absolute;
  height: 100%;
  width: 20vh;
  left: 2vh;
  background-color: transparent;
}

.bank-verticalBar:after {
  content:"";
  border-radius: 3.5vh;
  position:absolute;
  top:4vh;
  left:21vh;
  width:2px;
  height:85%;
  background-color: rgb(140, 140, 140);
}

.bank-verticalBar-head {
  position: relative;
  width: 100%;
}

.bank-verticalBar-head-logo {
  position: absolute;
  width: 4vh;
  height: auto;
  left: 1vh;
  margin-top: 3vh;
}

.bank-verticalBar-head-text {
  position: absolute;
  color: white;
  font-size: 1.6vh;
  font-weight: 800;
  font-family: Gilroy;
  left: 5.5vh;
  margin-top: 4.2vh;
}

.bank-verticalBar-options {
  position: relative;
  margin-top: 9vh;
  width: 100%;
  height: 29vh;
}

.bank-verticalBar-buttons {
  position:relative;
  width: 100%;
  height: 5vh;
  border-radius: 1vh;
  cursor: pointer;
}

.bank-verticalBar-buttons:hover {
  background-color: rgb(40, 90, 200);
}

.bank-verticalBar-text {
  position: absolute;
  top: 1.4vh;
  left: 1vw;
  font-weight: 800;
  font-family: Gilroy;
  color: white;
  font-size: 1.5vh;
}


.bank-verticalBar-buttons-separator {
  content:"";
  border-radius: 3.5vh;
  position:relative;
  margin-top: 1.6vh;
  margin-bottom: 1.6vh;
  left: 0.4vw;
  width:90%;
  height:2px;
  background-color: rgb(140, 140, 140);
}


.bank-verticalBar-buttons-accountsList {
  position: relative;
  width: 100%;
  height: 84%;
  background-color: transparent;
  overflow-y: scroll;
  overflow-x: hidden;
}

.bank-verticalBar-buttons-account-epargne,
.bank-verticalBar-buttons-account-courant {
  position:relative;
  width: 96%;
  height: 6vh;
  border-radius: 1vh;
  margin-top: 0.8vh;
  margin-bottom: 0.8vh;

  filter: brightness(70%);

  background-image: url("../img/bg-box.png");
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
}

.bank-verticalBar-buttons-account-courant {
  filter: hue-rotate(90deg);
}

.bank-verticalBar-buttons-account-epargne:hover,
.bank-verticalBar-buttons-account-courant:hover {
  transform: scale(0.95);
  filter: brightness(100%);
  box-shadow: 4px 4px 10px rgb(40, 90, 200);
}

.bank-verticalBar-buttons-account-text {
  position: absolute;
  top: 1.4vh;
  left: 1vw;
  font-family: Gilroy;
  color: white;
  font-size: 1vh;
  text-shadow: 3px 3px 2px black;
}





.bank-home-container {
  position: absolute;
  top: 2vh;
  left: 26vh;
  width: 59vh;
  height: 52vh;

  background-color: transparent;

  overflow-y: scroll;
  overflow-x: hidden;
}


.bank-home-container-box-epargne,
.bank-home-container-box-courant {
  position: relative;
  width: 14vw;
  height: 16vh;
  border-radius: 1.5vh;
  margin: 0.6vh;

  display: inline-block;
  transform: scale(0.95);
  filter: brightness(80%);
  background-image: url("../img/bg-button.png");
  background-size: cover;
  background-repeat: no-repeat;
}
.bank-home-container-box-courant {
  filter: hue-rotate(90deg);
}

.bank-home-container-box-epargne:hover,
.bank-home-container-box-courant:hover {
  transform: scale(1);
  filter: brightness(100%);
  box-shadow: 4px 4px 10px rgb(40, 90, 200);
}

.bank-home-container-box-courant:hover {
  filter: hue-rotate(90deg);
}



.box-title {
  position: absolute;
  font-weight: bolder;
  font-family: Gilroy;
  font-size: 2.0vh;
  color: white;
  width: 90%;
  text-align: center;
  top: 1.4vh;
  left: 50%;
  transform: translateX(-50%);
  text-shadow: 3px 3px 2px black;
}

.box-desc {
  position: absolute;
  font-weight: 800;
  font-family: Gilroy;
  font-size: 1.4vh;
  color: white;
  top: 5vh;
  left: 1vw;
  text-shadow: 3px 3px 2px black;
} 

.box-button {
  position: absolute;
  right: 1vw;
  bottom: 0.8vh;

  width: 4.6vw;
  height: 2.4vh;

  outline: none;
  border: none;
  border-radius: 2.0vh;

  background-color: rgb(50, 50, 90);

  font-family: Gilroy;
  font-size: 1.4vh;
  text-align: center;
  color: white;
  cursor: pointer;
}

.box-button:hover {
  background-color: rgb(40, 90, 200);
  font-size: 1.6vh;
}















.bank-account-container {
  position: absolute;
  top: 2vh;
  left: 26vh;
  width: 59vh;
  height: 52vh;

  background-color: transparent;

  overflow-y: scroll;
  overflow-x: hidden;
}


.bank-account-balance {
  position: absolute;
  top:3vh;
  left:1.5vh;
  width:30vh;
  height:13vh;
  border-radius: 2vh;
}

.bank-account-balance-text {
  position: absolute;
  font-weight: bolder;
  font-family: Gilroy;
  font-size: 2.0vh;
  color: white;
  width: 90%;
  text-align: center;
  top: 0vh;
  left: 50%;
  transform: translateX(-50%);
  text-shadow: 3px 3px 2px black;
}

.bank-account-balance-balance {
  position: absolute;
  font-weight: 800;
  font-family: Gilroy;
  font-size: 1.6vh;
  color: white;
  text-align: center;
  top: 3.5vh;
  left: 50%;
  transform: translateX(-50%);
  text-shadow: 3px 3px 2px black;
}


.bank-account-chart {
  position: absolute;
  top:10vh;
  left:1.5vh;
  width:30vh;
  height:14vh;
  border-radius: 2vh;
  background: rgb(43,44,57);
}

#bank-account-chart-myShart {
  position: relative;
  top: -6vh;
  left: -3vh;
  width:30vh;
  height:24vh;
}




.bank-account-info {
  position: absolute;
  top:25.5vh;
  width:30vh;
  left:1.5vh;
  height:16vh;
  border-radius: 2vh;
  background: rgb(43,44,57);
}

.bank-account-info-text {
  position: absolute;
  font-weight: bolder;
  font-family: Gilroy;
  font-size: 2.0vh;
  color: white;
  width: 90%;
  text-align: center;
  top: 1.4vh;
  left: 50%;
  transform: translateX(-50%);
  text-shadow: 3px 3px 2px black;
}


.bank-account-info-desc {
  position: absolute;
  font-weight: 500;
  font-family: Gilroy;
  font-size: 1.4vh;
  color: white;
  top: 6vh;
  left: 1vw;
  text-shadow: 3px 3px 2px black;
}



.bank-account-info-iban,
.bank-account-info-give,
.bank-account-info-delete,
.bank-account-info-deposit,
.bank-account-info-withdraw,
.bank-account-info-card {
  position: relative;
  display: inline-block;
  width: 8.6vh;
  height: 3.4vh;
  top: 104%;
  margin: 0.5vh;

  outline: none;
  border: none;
  border-radius: 2.0vh;

  font-family: Gilroy;
  font-size: 1.2vh;
  text-align: center;
  color: white;
  cursor: pointer;
}

.bank-account-info-iban {
  background-color: rgb(46, 122, 39);
}

.bank-account-info-give {
  background-color: rgb(40, 90, 200);
}

.bank-account-info-delete {
  background-color: rgb(122, 39, 39);
}

.bank-account-info-deposit,
.bank-account-info-withdraw,
.bank-account-info-card {
  background-color: rgb(168, 132, 12);
}

.bank-account-info-iban:hover,
.bank-account-info-give:hover,
.bank-account-info-delete:hover,
.bank-account-info-deposit:hover,
.bank-account-info-withdraw:hover,
.bank-account-info-card:hover {
  box-shadow: 2px 2px 8px white;
  font-size: 1.4vh;
}

#bank-account-info-btns-false {
  background-color: grey;
  /* pointer-events: none; */
  box-shadow: 0px 0px 0px transparent;
  font-size: 1.2vh;
}



.bank-account-info-rightbar {
  position: absolute;
  right: 0vh;
  width: 22vh;
  height: 100%;
  max-height: 100%;
  background: rgb(20, 22, 29);
  border-radius: 2.5vh;
}

.bank-account-info-rigthbar-chart {
  position: absolute;
  top:1vh;
  width:19vh;
  left:1.5vh;
  height:12vh;
  border-radius: 2vh;
  background: rgb(43,44,57);
}

#bank-account-info-rigthbar-chart-myPlot {
  position: relative;
  top: -7.4vh;
  left: 50%;
  transform: translateX(-50%);
  width:22vh;
  height:25vh
}




.bank-account-info-rightbar-separator {
  content:"";
  border-radius: 3.5vh;
  position:relative;
  margin-top: 1.6vh;
  margin-bottom: 1.6vh;
  left: 1.4vw;
  top: 13vh;
  width:80%;
  height:2px;
  background-color: rgb(140, 140, 140);
}



.bank-account-info-rigthbar-history {
  position: absolute;
  top:16.5vh;
  width:20vh;
  left:1.4vh;
  height:34vh;
  border-radius: 2vh;

  background: transparent;

  overflow-y: scroll;
  overflow-x: hidden;
}


.bank-account-info-rigthbar-history-box {
  position:relative;
  width: 98%;
  height: 6vh;
  margin-top: 0.8vh;
  margin-bottom: 0.8vh;

  border-radius: 1vh;

  background-color: rgb(43,44,57);
  box-shadow: 0px 2px 2px rgb(100, 100, 100);
}



.bank-account-info-rigthbar-history-box-label {
  position: absolute;
  font-weight: 500;
  font-family: Gilroy;
  font-size: 1.4vh;
  color: white;
  top: 0.2vh;
  left: 0.8vh;
  text-shadow: 3px 3px 2px black;
}

.bank-account-info-rigthbar-history-box-desc {
  position: absolute;
  font-weight: 500;
  font-family: Gilroy;
  font-size: 1.2vh;
  color: white;
  bottom: 1.4vh;
  left: 0.8vh;
  text-shadow: 3px 3px 2px black;

  width: 14vh;
  height: 2vh;
}


.bank-account-info-rigthbar-history-box-amount {
  position: absolute;
  font-weight: 500;
  font-family: Gilroy;
  font-size: 1.4vh;
  color: white;
  top: 0.2vh;
  right: 0.5vh;
  text-shadow: 3px 3px 2px black;
}

.bank-account-info-rigthbar-history-box-img {
  position: absolute;
  right: 0.5vh;
  bottom: 0.5vh;
  border-radius: 0.5vh;

  width: 3vh;
  height: 3vh;

  background-color: rgb(43,44,57);
}



#bank-history-box-true {
  box-shadow: 0px 2px 2px rgb(0, 255, 0);
}

#bank-history-box-false {
  box-shadow: 0px 2px 2px rgb(255, 0, 0);
}

#bank-history-amount-true {
  color: rgb(0, 255, 0);
}

#bank-history-amount-false {
  color: rgb(255, 0, 0);
}